.btn-group {
    margin-top: 10px;
}

.pets-list{
    margin-top: -38px;
}

li > .btn {
    width: 197px;
}

li > .btn:hover{
    background-color: gray;
    color: white;
}

ul {
    margin-left: calc(50% - 300px);
}

.pets-list > ul > li {
    width: 300px;
}
